::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 0;
}
.navbar {
  position: relative;
  color: white;
  /* justify-content: flex-start !important; */
  background-color: black;
  /* height: 20px; */
}
img {
  max-width: 100px;
  max-height: 100px;
}
/* .position {
  position: absolute;
  right: 140px;
}
.kids {
  position: absolute;
  right: 120px;
} */
/* #kidimg { */
/* position: absolute; */
/* right: 20px; */
/* background-color: black !important; */
/* } */
.kidimg22 {
  max-height: 100px;
  max-width: 100px;
  width: 25px;
  height: 25px;
}
/* .bi {
  position: absolute;
  right: 90px;
}

.bi2 {
  position: absolute;
  left: 1040px;
} */

ul {
  list-style-type: none;
}

ion-icon {
  opacity: 0.5;
}

.ionFirst {
  font-size: 20px;
  border: 1px solid white;
  opacity: 0.5;
  margin-top: 2px;
  margin-bottom: 2px;
}


.dropdown .btn {
  background-color: black;
  color: white;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 2px;
}